
#formOneButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
}

/* #GenderButtons {
    position: absolute;
    top: 180px; 
}

#orientationButtons {
    position: absolute;    
    top: 450px;
}

.formOneNextButton {
    position: absolute;    
    top: 350px;     
} */

