.fixed {
    position: fixed;
}

#navigation {
    z-index: 9999;
    height: 66px;
    background: var(--ivory);
    top: 0;
    left: 0;
    right: 0;
}

.navLinks {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    margin-left: 140px;
}

.navLinks h2 {
    display: none;
    margin: 0 20;
}

.navRight{
    position: absolute;
    display: flex;
    right: 0;
    height: 100%;
}

.navLinksRight {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.8em;
}

.top_signup_right {
    right: 0;
    position: absolute;
    display: flex;
    padding: 12px;
    width: 200px;
}

.navNotif {
    margin-right: -3px;
}

.navUser {
    float: left;
    position: relative;
}

.navUserImage {
    height: 60px;
    position: relative;
    display: block;
    padding: 13px 12px 0;
}
.navUserThumb {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    position: relative;
}

.navUserThumb img{
    width: 100%;
}

.navUser {
    float: left;
    position: relative;
}

.navUserImage {
    height: 60px;
    position: relative;
    display: block;
    padding: 13px 12px 0;
}

.navUserImage .navUserThumb {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    position: relative;
}

.comments {
    position: relative;
}

#comments-count {
    position: absolute;
    right: 0;
    line-height: normal;
    padding: 0 6px;
    background: #d9b310;
    color: #1d2731;
    border-radius: 14px;
    font-size: 0.5em;
    box-shadow: 0 0 0 2px #1d2731;
    font-family: 'Open sans', sans-serif;
}

@media (min-width: 620px) {
    .navLinks h2 {
        display: block;
    }

    .navLinks .navIconLeft {
        display: none;
    }
}