body {
    padding-top: 70px;
  }
  .table .btn-link {
    padding: 0px 12px;
  }
  .panel- .pagination {
    margin: 0;
  }
  .footer {
    grid-column: 100;
    padding: 15px 0;
    border-top: 1px solid #ddd;
  }

  #central-container {
    grid-column: 2/3;
  }

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
    
.guest-container {
  background-image: url('../../public/images/signupBackground.jpeg');
  background-size: cover;
  background-position: center;
  overflow: hidden; 
  min-height: 900px;
}

.user-container {
  padding-top: 66px;
}