#centralContainer {
    width: 500px;
    background-color: #a4adb326;
    position: relative;
    top: 80px;
    padding: 20px;
    border-radius: 10px;
}

.top_signup_right {
    top: 0;
}

#logo {
    left: 0;
    position: absolute;
    padding: 12px;
}

.navGuestLogin {
    border: 1px solid;
    padding: 12px;
    border-radius: 4px;
}

.top_signup_right p {
    color: wheat;
}