.flex {
    display: flex;
}

#topUserPage {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #101c29;
}

#middleUserPage {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #061f2f;
}

#middleCentralContainer {
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
    color: white;
    display: grid;
    grid-template-columns: 540px 360px;
  }

#rightMiddleContainer {
    grid-column: 2/3;
}

#topCentralContainer {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
  }

#topInfo {
    position: absolute;
    bottom: 20;
    left: 200px;
}

.userImage {
    bottom: -30px;
    left: 20px;
    position: absolute;
}

.likeButton {

}

.topIcons {
    width: 200px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

#googleMapContainer {
    grid-column: 2/3;    
    float: right;
    padding-top: 20px;
    width: 350px;
    height: 400px;
}

#textOne {
    grid-column: 1/2;
    padding-top: 40px;
    width: 500px;
}

#textOne p {
    line-height: 1.8;
    font-size: 1.1em;
}

#interests {
    grid-column: 2/3;    
    padding-top: 20px;
    width: 300px;
    display: flex;
    align-items: center;
}
  
#interests p{
    font-size: 1.2em;
    padding-left: 15px;
}

#interestsIcon {
    float: left;
}

.mightLikeUser {
    float: left;
    position: relative;
}

.mightLikeUserImage {
    height: 100px;
    position: relative;
    display: block;
    padding: 13px 18px 0;
}

.mightLikeUserImage .mightLikeUserThumb {
    display: block;
    border-radius: 40px;
    overflow: hidden;
    width: 75px;
    height: 75px;
    position: relative;
}

