:root {
  --main-line-color: #0000003d;
  --main-bg-color: coral;
  --main-txt-color: blue; 
  --main-padding: 15px;
  --blue: #34495e;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --red: #3498db;

  --prussian: #0b3c5d;
  --sky: #328cc1;
  --gold: #d9b310;
  --ivory: #1d2731;
  --bg:  url('../../../public/images/signupBackground.jpeg');
}


body {
    background-image: var(--bg);    
    padding-top: 70px;
  }
  .table .btn-link {
    padding: 0px 12px;
  }
  .panel- .pagination {
    margin: 0;
  }
  .footer {
    grid-column: 100;
    padding: 15px 0;
    border-top: 1px solid #ddd;
  }

  #central-container {
    grid-column: 2/3;
  }

.main-container {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-rows: 160px auto 100px;
}

.guest-container {
  background-image: url('../../../public/images/signupBackground.jpeg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 900px;
}

.user-container {
  padding-top: 66px;
}