:root {
  --main-line-color: #0000003d;
  --main-bg-color: coral;
  --main-txt-color: blue;
  --main-padding: 15px;
  --blue: #34495e;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --red: #3498db;

  --prussian: #0b3c5d;
  --sky: #328cc1;
  --gold: #d9b310;
  --ivory: #1d2731;
  /* --bg:  url('../../../data/images/signupBackground.jpeg'); */
}

$bright-prussian: #226a9b;
$prussian: #0b3c5d;
$sky: #328cc1;
$gold: #d9b310;
$ivory: #1d2731;

$open-sans: 'Open Sans',
sans-serif;
$champagne: 'Champagne & Limousines';

@font-face {
  font-family: 'Champagne & Limousines';
  src: url('/data/fonts/Champagne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.table .btn-link {
  padding: 0px 12px;
}

.panel- .pagination {
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.appContainer {
  min-height: 100%;
  position: relative;
}

.footer {
  padding: 7px 10px;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  // position: absolute;
  // bottom: 0;
  width: 100%;
  background-color: white;
}

#central-container {
  grid-column: 2/3;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-rows: 160px auto 100px;
}

// .guest-container {
// }

.user-container {
  padding-top: 66px;
  padding-bottom: 31px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-container {
  height: 100vw;
}