.main-front {
    >* {
        font-family: $open-sans;
        letter-spacing: 0;
    }

    background: $prussian;
    min-height: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". new-title ."
        ". new ."
        ". liked-title ."
        ". liked .";
    padding: 20px 0;
}

.main-discovery {
    background: var(--ivory);
    padding: 20;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    a {
        margin: 5 10;
    }
}

#main-liked-profiles {
    grid-area: liked;
}

#main-new-profiles {
    grid-area: new;
}

.disco-title {
    grid-area: liked-title;
    font-family: $champagne;
    font-size: 1.7em;
    padding: 10;
    text-align: center;
    position: relative;
    z-index: 1;
    background: $ivory;

    &:before {
        width: 90%;
        height: 1px;
        content: "";
        background: $gold;
        top: 50%;
        position: absolute;
        transform: translate(0, -100%);
        left: 5%;
        z-index: -1;
    }

    span {
        color: $gold;
        background: $ivory;
        padding: 5px 10px;
    }
}

.liked-title {
    grid-area: liked-title;
}

.new-title {
    grid-area: new-title;
}