#basics .divider {
    margin: 5px;
}

/* #basics:hover {
    margin-top: 20px;
    background-color: #07314c;
} */

.basicRow {
    position: relative;
    display: flex;
    align-items: center;
}

.basicRow span {
    font-size: 1.2em;
}

.basicName {
    margin-left: 10px;
    font-style: italic;
    color: #86888a;
}

.basicRow .basicValue {
    position: absolute;
    left: 180px;
}

.basicRow .basicSize {
    display: flex;
    align-items: center;
    font-weight: 600;

}

.basicRow input {
    background: transparent;
    border: none;
    padding: 13px 0;
    width: 40px;
}

.ui.inline.dropdown {

    &.basicValue {
        position: absolute;
        left: 180px;
    }

    &.basicValueUpdated {
        color: var(--gold);
        position: absolute;
        left: 180px;
    }
}



#userPageMain .section-clickable {
    &:hover {
        box-shadow: inset 0 0 10px black;
        cursor: pointer;
    }
}

#userPageMain .section-focus {
    &:focus-within {
        border-left-color: var(--gold);
    }
}

.textAreaSection {
    background-color: transparent;
    width: 100%;
    height: 400px;
    color: var(--gold);
    line-height: normal;
    border: none;
    resize: none;
    /* border-left: 2px solid; */

    &:focus {
        outline: none;
    }

    &p {
        color: var(--gold);
    }
}

.textAreaButtons {
    // background-color: transparent;
    display: flex;
    justify-content: space-between;

    button {
        border-color: var(--ivory);
        background: var(--ivory);
        padding: 5 10;
    }

    .cancelButton {
        color: var(--sky);

        &:hover {
            border-color: var(--sky);
        }
    }

    .saveButton {
        color: var(--gold);

        &:hover {
            border-color: var(--gold);
        }
    }
}


.leaflet-container {
    height: 300px;
    // width: 80%;
    margin: 0 auto;
    overflow: scroll;
    z-index: 5;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        /* Chrome/Safari/Webkit */
    }
}